@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;800&display=swap');

@theme {
    --color-light-green: #a0f92d;
    --color-mid-green: #84ea00;
    --color-dark-blue: #012939;
  }
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}